body {
}

header {
	height: 200px;
	/*background-color: #697075;*/
	padding-left: 10%;
	padding-right:10%;
}

#header_menu {
	position:relative;
}

#header_graphics {
	height: 125px;
}

footer {
	background-color: #15181a;
	height: 80px;
	padding: 10px 10% 0px 10%;
}

#lang {
	text-align:right;
}

#container {
	position: relative;
}

#body {
	margin-left: 10%;
	margin-right:10%;
}

#content {
	min-height: 1500px;
	max-height: 2000px;
}

.content_block {
	inline-block;
	border-radius: 5px;
	border: solid 1px #697075;
	margin: 10px;
	padding: 10px;
}


